[mysqld]
handlersocket_address=/
handlersocket_port=/tmp/handler_socket_read
handlersocket_port_wr=/tmp/handler_socket_write
handlersocket_wrlock_timeout=2
handlersocket_timeout=30
handlersocket_verbose=10
innodb_flush_log_at_trx_commit=0
innodb_doublewrite=0