[mysqld]
handlersocket_address=/
handlersocket_port=/tmp/handler_socket_read
handlersocket_port_wr=/tmp/handler_socket_write
handlersocket_verbose=10
handlersocket_threads_wr=1
innodb_flush_log_at_trx_commit=0
innodb_doublewrite=0